{% extends 'layout.html' %}

{% block content %}
  <div class="container mx-auto px-8">
    <div class="font-mono text-center p-4 flex justify-around">
      <button class="modal-open bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded"><p class="mx-8">Add Book</p></button>
      <a class="bg-black hover:bg-transparent text-white font-semibold hover:text-black py-2 px-12 border border-transparent hover:border-black rounded" href="/logout">Log Out</a>
    </div>
    <!--Modal-->
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
      
      <div class="modal-container bg-white w-10/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
          <!--Title-->
          <div class="flex justify-between items-center pb-3">
            <p class="text-4xl font-bold mx-auto">Add Book</p>
            <div class="modal-close cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </div>

          <!--Body-->
          <form action="/add" method="post" class="w-full max-w-lg">
            <div class="flex flex-wrap -mx-3 mb-6 px-3">
              <div class="w-full md:w-2/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-author">
                  Author
                </label>
                <input class="appearance-none block text-xs w-full bg-gray-200 text-black border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="author" type="text" placeholder="Douglas Adams">
              </div>
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-year">
                  Year
                </label>
                <div class="relative">
                  <select class="block appearance-none text-xs w-full bg-gray-200 border border-gray-200 text-black py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="year">
                    {% for i in range(1950, 2025) %}
                    <option>{{i}}</option>
                    {% endfor %}
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full px-3">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-title">
                    Title
                  </label>
                  <input class="appearance-none block text-xs w-full bg-gray-200 text-black border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="title" type="text" placeholder="The Hitchhiker's Guide to the Galaxy">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-detail">
                  Detail
                </label>
                <textarea class="appearance-none block text-xs w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3 md:h-32 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="body" type="text"></textarea>
                <p class="text-center text-red-600 text-xs italic">Don't Panic</p>
              </div>
            </div>

              <!--Footer-->
            <div class="flex justify-center pt-2">
              <button type="reset" class="modal-close mx-4 px-8 bg-transparent p-3 hover:bg-black text-black font-semibold hover:text-white py-3 px-6 border border-black hover:border-transparent rounded"><i class="fas fa-times"></i>
              </button>
              <button type="submit" class="mx-4 px-8 bg-transparent p-3 hover:bg-black text-black font-semibold hover:text-white py-3 px-6 border border-black hover:border-transparent rounded"><i class="fas fa-check"></i></button>
              
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if books == [] %}
    <div class="container mx-auto py-32 px-64">
      <div class="bg-transparent border-t-2 border-b-2 border-black text-black px-4 py-3" role="alert">
        <p class="text-xl text-center font-bold">No Book!</p>
        <p class="text-md text-center">You don't have any book in your library.</p>
      </div>
    </div>
  {% else  %}
    <div class="container mx-auto px-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
      {% for book in books %}    
        <div class="w-64 h-128 rounded overflow-hidden shadow-lg my-3 mx-auto">
          <img class="w-64 h-24" src={{ url_for('static', filename = 'img/img3.jpg') }} alt="Sunset in the mountains">
          <div class="px-6 pt-4 text-center">
            <div class="font-bold text-xl mb-2 h-4">{{book.title}}</div>
          </div>
          <div class="px-6 pt-10 text-center">
            <p class="text-gray-700 text-base h-16 py-2">
              {{book.body[0:30]}}...
            </p>
          </div>
          <div class="px-6 py-2 text-center">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><a href="/author/{{book.author}}">#{{book.author}}</a></span>
          </div>
          <div class="px-6 py-2 text-center">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><a href="/year/{{book.pub_date}}">#{{book.pub_date}}</a></span>
          </div>
          <div class="px-6 py-4 text-center">
            <a href="/detail/{{book.id}}" class="object-none object-bottom mx-auto px-6 bg-transparent hover:bg-blue-500 p-3 border border-blue-500 hover:border-transparent text-blue-500 hover:text-white rounded">Detail</a>
            <a href="/delete/{{book.id}}" class="object-none object-bottom mx-auto px-6 bg-transparent hover:bg-red-500 p-3 border border-red-500 hover:border-transparent text-red-500 hover:text-white rounded">Delete</a>
          </div>
        </div>
      {% endfor %}  
    </div>  
  {% endif  %}

  <script>
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
      event.preventDefault()
      toggleModal()
      })
    }
    
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)
    
    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    
    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
      isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
      }
    };
    
    
    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
  </script>
{% endblock content %}


