{% extends 'layout.html' %}

{% block content %}

  <div class="flex justify-center">
    
    <form class="w-full max-w-xs" action="/login" method="POST">
      <h3 class="text-4xl font-bold mx-auto py-2 text-center">Log In</h3>
      {% if error %}
        <div class="bg-red-100 border border-red-400 text-red-700 text-center my-2 px-2 py-3 rounded relative" role="alert">
          <strong class="font-bold">{{ error }}</strong>
        </div>
      {% endif %}
      <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold my-4">
        {{ form.username.label() }} <br>
        <div class="border-2 border-gray-800 rounded my-8">
          {{ form.username() }}
        </div>
      </p>
      
      <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold my-4">
        {{ form.password.label() }} <br>
        <div class="border-2 border-gray-800 rounded my-8">
          {{ form.password() }}
        </div>
      </p>

      <div class="py-5 mx-auto flex justify-between">
        <button class="bg-black text-white px-12 py-1 rounded">{{ form.submit() }} Log In</button>
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/signup">Create Account?</a>
      </div>
    </form>
    
  </div>

{% endblock content %}
